interactions:
- request:
    body: client_id=00000000-0000-0000-0000-000000000000&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|832,0|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.12.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000",
        "inputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.ionq-ir.v1", "inputParams": {"shots": "500"},
        "providerId": "ionq", "target": "ionq.simulator", "metadata": {"entryPointInput":
        "{}", "outputMappingBlobUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000/mappingData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw"},
        "name": "Test", "id": "00000000-0000-0000-0000-000000000000", "status": "Succeeded",
        "outputDataFormat": "microsoft.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "creationTime": "2021-05-03T21:12:31.5147998Z", "beginExecutionTime": "2021-05-03T21:12:34.004Z",
        "endExecutionTime": "2021-05-03T21:12:34.062Z", "cancellationTime": null,
        "errorData": null, "isCancelling": false, "tags": []}, {"containerUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000",
        "inputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.ionq-ir.v1", "inputParams": {"shots": "500"},
        "providerId": "ionq", "target": "ionq.simulator", "metadata": {"entryPointInput":
        "{}", "outputMappin[...]
